span {
  display: block;
}

.header {
  display: flex;
  font-size: 155px;
  font-weight: bold;
  color: white;
  div {
    transition: 0.3s color;
    &:hover {
      color: #0afaae;
    }
  }
}
.header > div:first-child {
  color: #16c5fa;
}
.header > div:last-child {
  color: #554080;
}
.header > div:nth-child(2) {
  color: #fa2362;
}
.header > div:nth-child(7) {
  color: #eaff00;
}

div {
  cursor: pointer;
}
