.radio-input {
  margin-bottom: 15px;
  input {
    height: initial;
    width: initial;
  }
  input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    right: 12px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  input:checked + label {
    border: solid #0079bf 2px;
  }
}
