.trans-enter {
  /* opacity: 0; */
  transform: translateY(-100vh);
}
.trans-enter-active {
  /* opacity: 1; */
  transform: translateY(0);
 transition: transform 600ms ease 0s, opacity 600ms ease 0s, background-color 600ms ease 0s;
}
.trans-exit {
  /* opacity: 1; */
  transform: translateY(0);
}
.trans-exit-active {
  transform: translateY(100vh);
  /* opacity: 0; */
 transition: transform 600ms ease 0s, opacity 600ms ease 0s, background-color 600ms ease 0s;
}